<mat-toolbar color="primary">
  <span>DASHBOARD</span>
  <span class="example-spacer"></span>
  <mat-button-toggle-group
    name="theme"
    aria-label="Theme Selection"
    [value]="theme"
  >
    <mat-button-toggle value="light" (click)="selectLightTheme()"
      >Light</mat-button-toggle
    >
    <mat-button-toggle value="dark" (click)="selectDarkTheme()"
      >Dark</mat-button-toggle
    >
  </mat-button-toggle-group>
</mat-toolbar>
<mat-grid-list
  [cols]="breakpoint"
  rowHeight="2:1"
  (window:resize)="onResize($event)"
>
  <mat-grid-tile>
    <div class="buttonLine">
      <button
        mat-mini-fab
        color="primary"
        aria-label="Example icon button with a menu icon"
        (click)="reRollRandomValuesBar()"
      >
        <mat-icon>autorenew</mat-icon>
      </button>
    </div>
    <div style="position: relative; height: 80%; width: 80%">
      <canvas id="barCtx"></canvas>
    </div>
    <!-- <app-bar style="position: relative; height: 80%; width: 80%"></app-bar> -->
  </mat-grid-tile>
  <mat-grid-tile>
    <button
      mat-mini-fab
      class="buttonLine"
      color="primary"
      aria-label="Example icon button with a menu icon"
      (click)="reRollRandomValuesPie()"
    >
      <mat-icon>autorenew</mat-icon>
    </button>
    <div style="position: relative; height: 80%; width: 80%">
      <canvas id="pieCtx"></canvas></div
  ></mat-grid-tile>
  <mat-grid-tile>
    <button
      mat-mini-fab
      class="buttonLine"
      color="primary"
      aria-label="Example icon button with a menu icon"
      (click)="reRollRandomValuesRadar()"
    >
      <mat-icon>autorenew</mat-icon>
    </button>
    <div style="position: relative; height: 80%; width: 80% ; display: flex; justify-content: center;" >
      <canvas id="radarCtx"></canvas></div
  ></mat-grid-tile>
  <mat-grid-tile>  <button
    mat-mini-fab
    class="buttonLine"
    color="primary"
    aria-label="Example icon button with a menu icon"
    (click)="reRollRandomValuesLine()"
  >
    <mat-icon>autorenew</mat-icon>
  </button>
  <div style="position: relative; height: 80%; width: 80% ; display: flex; justify-content: center;" >
    <canvas id="lineCtx"></canvas></div
></mat-grid-tile>
</mat-grid-list>
